div class = "attached_file_id_#{file.id}"
  p = link_to file.filename.to_s, url_for(file)
  - if current_user&.author?(answer)
    p = link_to 'Delete File', attachment_path(file), method: :delete, remote: true, class: 'text-danger'